/* nav CSS */

nav {
    height: 2.5vw;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 3vw 12vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;

}

nav .ptr1 h1 {
    color: white;
    font-family: "Jost";
}

nav .ptr2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.ptr2 a {
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    font-weight: 100;
    font-family: hero;
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
}


.btn{
    border: 1px #000000 solid ;
    border-radius: 2vw;
    text-transform: uppercase;
    background-color: #000000;
    color: white;
    height: 3vw;
    width: 9vw;
    /* padding: 1vw; */
    font-size: 1vw;
    font-family: hero;
    font-weight: bold;

}

.btn:hover{
    background-color: #FC6220;
    border: #FC6220;
}


/* Drop Down Menu
/* Dropdown Button */


.dropbtn {
    background-color: transparent;
    font-family: hero;
    border: none;
    color: white;
    font-size: 1.1vw;
    padding-bottom: 2px;
    transition: all 0.2s;
    transition-timing-function: linear;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    
    position: relative;
    display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-top: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: none;
    position: absolute;
    background-color: #000000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    width: 180px;

}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    font-size: 1vw;
    font-family: hero;
    transition: all 0.3s;


}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-content a:hover::after {
    width: 100%;
}
.dropdown-content a:hover{
    color: #FC6220;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-thickness: 1.8px;
    text-underline-offset: 5px;
    padding-left: 10px;
}
.dropbtn:hover {
    color: #FC6220;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-thickness: 1.8px;
    text-underline-offset: 5px;

}

